@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import '@radix-ui/themes/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Width for both horizontal and vertical */
::-webkit-scrollbar {
    width: 0rem;
    height: 0rem; /* Added for vertical scrollbar width */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f13c; /* Grey background */
  }
  
  /* Handle for both horizontal and vertical */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Grey handle */
    width: .1rem; /* Decrease the width */
    height: .1rem; /* Added for vertical scrollbar width */
  }
  
  /* Handle on hover for both horizontal and vertical */
  ::-webkit-scrollbar-thumb:hover {
    background: #555555; /* Black handle */
  }